@model FootballWeb.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdScoreNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdScoreNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.IdTeamHomeNavigation.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdScoreNavigation.HomeScore)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.IdTeamAwayNavigation.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdScoreNavigation.AwayScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
